body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #baf6f7;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: #1a1ccb;
}

.number {
  width: 100px;
  outline: none;
  height: 50px;
  font-size: 50px;
  border: none;
  margin: 0 auto;
  display: block;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 20px;
}

.number {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.increase {
  color: green;
  border: 1px solid green;
}

.decrease {
  border: 1px solid red;
  color: red;
}

.reset {
  border: 1px solid gray;
  color: gray;
}

.counter {
  background-color: #fff;
  border-radius: 10px;
}



